<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name = "Parameterized Search Test">
    <test name = "test search functionality">
        <parameter name = "userInputSearch" value="react"/>
        <parameter name= "userInputCourse" value="html"/>
        <classes>
            <class name = "ParameterizedSearchTest" />
        </classes>
    </test>
</suite>